In [15]:
fruits = ["Apple","Banana","Watermelon","Pineaplle"]
for fruit in fruits :
    print(f"Nama Buah : {fruit}")

Nama Buah : Apple
Nama Buah : Banana
Nama Buah : Watermelon
Nama Buah : Pineaplle

In [19]:
nilaiPhyton = [80,100,90,70,70,50,40]
total = 0
for nilai in nilaiPhyton:
    total += nilai

rata2 = total / len(nilaiPhyton)
print(f"Nilai Rata-rata : {rata2}")

Nilai Rata-rata : 71.42857142857143

In [23]:
month = ["jan","feb","mar","apr","mei","jun","jul","aug","sep","okt","nov","des"]
for i, m in enumerate(month):
    print(f"{i} : {m}")

0 : jan
1 : feb
2 : mar
3 : apr
4 : mei
5 : jun
6 : jul
7 : aug
8 : sep
9 : okt
10 : nov
11 : des

In [29]:
kampus = input("Isikan Nama Kampus:")
listVokal = ["a","i","u","e","o","A","I","U","E","O"]
total = 0
for karakter in kampus :
    if karakter in listVokal:
        total +=1
        isVokal = "Huruf Vokal"
    else:
        isVokal = "Bukan Huruf Vokal"
    print(f"{karakter} adalah {isVokal}|{total}") #berapa banyak jumlah huruf vokal 'a,i,u,e,o'
print(f"Jumlah Total Huruf Vokal : {total}")

Isikan Nama Kampus: Universitas Lingga Buana

U adalah Huruf Vokal|1
n adalah Bukan Huruf Vokal|1
i adalah Huruf Vokal|2
v adalah Bukan Huruf Vokal|2
e adalah Huruf Vokal|3
r adalah Bukan Huruf Vokal|3
s adalah Bukan Huruf Vokal|3
i adalah Huruf Vokal|4
t adalah Bukan Huruf Vokal|4
a adalah Huruf Vokal|5
s adalah Bukan Huruf Vokal|5
  adalah Bukan Huruf Vokal|5
L adalah Bukan Huruf Vokal|5
i adalah Huruf Vokal|6
n adalah Bukan Huruf Vokal|6
g adalah Bukan Huruf Vokal|6
g adalah Bukan Huruf Vokal|6
a adalah Huruf Vokal|7
  adalah Bukan Huruf Vokal|7
B adalah Bukan Huruf Vokal|7
u adalah Huruf Vokal|8
a adalah Huruf Vokal|9
n adalah Bukan Huruf Vokal|9
a adalah Huruf Vokal|10
Jumlah Total Huruf Vokal : 10

In [31]:
#looping list compherension
data = [1,2,3,4,5]
pangkat = [x**2 for x in data]
print(pangkat)

[1, 4, 9, 16, 25]

In [33]:
#range
for i in range(10):
    print(f"Nilai i adalah:{i}")

Nilai i adalah:0
Nilai i adalah:1
Nilai i adalah:2
Nilai i adalah:3
Nilai i adalah:4
Nilai i adalah:5
Nilai i adalah:6
Nilai i adalah:7
Nilai i adalah:8
Nilai i adalah:9

In [35]:
for j in range (5,10):
    print(f"Nilai j adalah:{j}")

Nilai j adalah:5
Nilai j adalah:6
Nilai j adalah:7
Nilai j adalah:8
Nilai j adalah:9

In [113]:
#Cek bilangan prima atau bukan prima
number = int(input("Isikan Bilangan:"))
faktor=0
for i in range (1,number+1):
               print(i)
    if number % i == 0:
        faktor += 1
if faktor==2:
    print(f"{number} adalah Bilangan Prima")
else:
    print(f"{number} adalah Bukan Prima")

IndentationError: unindent does not match any outer indentation level (<string>, line 6)

In [64]:
#Faktorial
# 3! = 3 * 2 * 1 = 6
# 4! = 4 * 3 * 2 * 1 = 24
total = 1
number = int(input("Isikan Bilangan:"))
for i in range(1,number+1):
    total*= 1
print(f"{number}! = {total}")

Isikan Bilangan: 10

10! = 1

In [70]:
# 1 -2 3 -4 5 -6 7 -8 9 -10
number = int(input("Isikan Bilangan:"))
sign = 1
for i in range (1,number+1):
    result = sign * i
    print(f"{result} ", end='')
    sign *= -1

Isikan Bilangan: 10

1 -2 3 -4 5 -6 7 -8 9 -10

In [80]:
kursiBioskop = ["L","P","L","L","P","L"]

#Hitung jumlah penonton Laki-laki
#Hitung jumlah penonton Perempuan

totalLaki = 0 
for jenis in kursiBioskop:
    if jenis=="L":
        totalLaki +=1
print(f"Jumlah Penonton Laki-laki:{totalLaki}")
print(f"Jumlah Penonton Perempuan:{len(kursiBioskop)-totalLaki}")

Jumlah Penonton Laki-laki:4
Jumlah Penonton Perempuan:2

In [90]:
#Jumlah orang yang kemungkinan berpasangan

kursi = ["L","P","L","L","P","L"]
couple = 0
for i in range(len(kursi)-1):
    if kursi[1] !=kursi[i+1]:
        couple+=1
print(f"Jumlah Couple:{couple}")

Jumlah Couple:3

In [107]:
data = {
    "fname" : "Maling",
    "lname" : "Pangsit"
}
for key,value in data.items():
    print(f"{key} : {value}")

fname : Maling
lname : Pangsit